<!DOCTYPE html>
<html>
  <head>
    <title>Purchase</title>
    <style>
      *{
        box-sizing: border-box;
        padding: auto;
      }
      body{
        padding: 22px;
        margin: 0;
        font-family:'Courier New', Courier, monospace;
        /*height: 100vh;*/
        
      }
      .company-info{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-content: center;
        //border-bottom: 1px solid black;
        flex-direction: row;
        padding: 4px;
        margin-bottom: 30px;
      }

      .address-info{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        //border-bottom: 1px solid black;
        flex-direction: row;
        padding: 4px;
      }
      .logo-section{
        padding: 0;
      }
      .logo-section, h4{
        text-align: right;
      }
      .supplier-info{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 8px;
      }
      .supplier-table, .order-table strong{
        font-size: small;
        text-decoration: underline;
        text-align: left;
        padding: 1px;
        
      }
      .data-table{
        width: 100%;
        //border: 0.5px solid black;
      }
      .document-info strong{
        text-decoration: none;
        text-align: justify;
      }
      .document-title h2{
        text-decoration:double;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .supplier-table{
        //padding: 2px;
        display: flex;
        min-width: 400px;
        border: 0.5px solid black;
        flex-direction: column;
        flex-wrap: wrap;
      }

      .order-table {
        //padding: 2px;
        display: flex;
        min-width: 260px;
        border: 0.5px solid black;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
      }

      
      .document-title{
        text-align: center;
        align-items: center;
        min-width: 300px
      }
      .footer-bar{
        display: flex;
        justify-content: space-between;
        padding: 4px;   
        align-items: center; 
      }
      table, tr, td{
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0;
        border-spacing: 0;
      }
      td{
        padding-right: 12px;
        text-align: right;
      }
      thead{
        background-color: #20114d;
        color: white;
      }
      tfoot{
        width: 50%;
        margin-top: 12px;
      }
      .footer{
        position: absolute;
        bottom: 0;
        margin-bottom: 12px;
        width: 98%;
        padding-inline: 32px;
      }
      .footer p{
        font-size: small;
      }
      .totals-table{
        display: flex;
        justify-content: flex-end;
        border: none;
        margin-top: 8px;
      }
    
      .totals-table td{
        padding: 2px;
        font-size: 12px;
        width: 120px;
        border: none;
        border-bottom: 1px solid black;
      }
      .logo{
        height: 100px;
        width: 100px;
      }
    </style>
  </head>
  <body>
      <header>
        <div class="company-info">
            <address>
                <h3 class="company-name">COMPANY NAME.</h3>
                <strong>PO BOX: 515000</strong><br/>
                <strong>0908989908</strong><br/>
                <strong>09080088</strong><br/>
              </address>
              <div class="document-title">
                <h2>PURCHASE</h2>
                <h3>TRN: 104517728200003</h3>
            </div>
              <section class="logo-section">
                <img class="logo"
                  src="https://www.shutterstock.com/image-vector/buildings-icon-company-logo-260nw-274839713.jpg"/>
              </section>
        </div>
        <div class="supplier-info">
                <address class="supplier-table">
                    <strong>{{supplier.name}}</strong>
                    <strong>66 Al Marsa Street</strong>
                    <strong>{{supplier.address}}</strong>
                    <strong>{{supplier.mobile}}</strong>
                    <strong>VAT Nō {{supplier.trn}}</strong>
                </address>
                <address class="order-table">
                    <strong>Control Nō: TM0070</strong> 
                    <strong>Invoice Nō: #TM20250062</strong> 
                    <strong>Invoice Date: 13/01/2025</strong> 
                    <strong>Due Date: 13/01/2025</small></strong> 
                    <strong>PO Nō: PO2338810</strong> 
                </address>                
        </div>
    </header>
    <main>
        <table class="data-table" border="0.5">
            <thead>
                <tr>
                    <th style="text-align: left; background: rgb(29, 29, 55); color:aliceblue">Description</th>
{{!--                     <th>UNIT</th>
 --}}                    <th>QTY</th>
                    <th>UNIT PRICE</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>

              {{#each items}}
              <tr>
                <td style="text-align: left;">{{name}}</td>
                <td>{{qty}}</td>
                <td>{{salePrice}}</td>
                <td>{{total}}</td>
              </tr>
              {{/each}}
            </tbody>

        </table>
        <table class="totals-table">
            <tr>
                <td style="text-align: left"><strong>SUBTOTAL</strong></td>
                <td>{{itemsWithVatTotal}}</td>
            </tr>
            <tr>
                <td style="text-align: left"><strong>DISCOUNT</strong></td>
                <td>{{discountAmount}}</td>
            </tr>
            <tr>
                <td style="text-align: left"><strong>TAX RATE</strong></td>
                <td>{{vatRate}}</td>
            </tr>
            <tr>
                <td style="text-align: left"><strong>TOTAL TAX</strong></td>
                <td>{{vatAmount}}</td>
            </tr>
            <tr>
                <td style="text-align: left"><strong>TOTAL AMOUNT</strong></td>
                <td>{{totalAfterDiscount}}</td>
            </tr>
        </table>
        <h6 style="text-align: right;">AMOUNT IN WORDS: </h6>
    </main>

    <footer class="footer">
        <div class="footer-bar">
            <div>
                <h6>TERMS & INSTRUCTIONS</h6>
                 <p>
                    👉Payment terms: Cash/Transfer<br/>
                    👉Please mention the invoice number while making payments<br/>
                </p>
                <h6>Recieved BY ........................................</h6>
                <sub>Approved on behalf of Trust Me LLC</sub>
            </div>
            <div>
                <h6 style="text-align: justify;">For Company name</h6>
            </div>
        </div>
    </footer>
  </body>
</html>