<!DOCTYPE html>
<html>
  <head>
    <title>Quote</title>
    <style>
      *{
        box-sizing: border-box;
        padding: auto;
      }
      body{
        padding: 22px;
        /*height: 100vh;*/
        font-family:'Times New Roman', Times, serif;
        
      }
      .company-info{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        flex-direction: row;
        padding: 4px;
      }
      .logo-section{
        padding: 0;
      }
      .logo-section, h4{
        text-align: right;
      }
      .address-info{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        font-weight: 500;
        padding: 12px;
        align-items: center;
      }
      .address-info strong{
        text-decoration: underline;
        padding-top: 22px;
        font-weight: 400;
      }
      .data-table{
        width: 100%;
      }
      .data-table td{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      .document-info strong{
        text-decoration: none;
        font-weight: 400;
      }

      td{
        padding-right: 12px;
        text-align: right;
        border-bottom: 0.5 solid rgba(0, 0, 0, 0.2);
      }
      thead{
        background-color: #20114d;
        color: white;
      }
      tfoot{
        width: 50%;
        margin-top: 12px;
      }
      .footer{
        position: absolute;
        bottom: 0;
        font-size: x-small;
        margin-bottom: 12px;
      }
      .totals-table{
        display: flex;
        justify-content: flex-end;
        border: none;
        margin-top: 8px;
      }
    
      .totals-table td{
        padding: 2px;
        font-size: 14px;
        width: 120px;
        border: none;
        border-bottom: 1px solid black;
      }
      .logo{
        height: 100px;
        width: 100px;
      }
    </style>
  </head>
  <body>
      <header>
        <div class="company-info">
            <address>
                <h3>{{company.name}}</h3>
                <strong>PO BOX: {{company.poBox}}</strong><br/>
                <strong>{{company.phone}}</strong><br/>
                <strong>{{company.mobile}}</strong><br/>
                <strong>{{company.email}}</strong><br/>
                <strong>{{company.address}}</strong><br/>
                <strong>{{company.region}}</strong>
              </address>
              <section class="logo-section">
                <h5>QUOTATION</h5>
                <img class="logo"
                  src="https://www.shutterstock.com/image-vector/buildings-icon-company-logo-260nw-274839713.jpg"/>
              </section>
        </div>
        <div>
            <section class="address-info">
                <address>
                    <strong>{{customer.name}}</strong><br/>
                    <strong>{{customer.address}}</strong><br/>
                    <strong>{{customer.region}}</strong><br/>
                    <strong>{{customer.mobile}}</strong>
                </address>
                <address class="document-info">
                    <strong>Control Nō: {{quotation.controlId}}</strong><br/>
                    <strong>Quote Nō: <span style="color: tomato;">#{{quotation.quotationNo}}</span></strong><br/> 
                    <strong>Contact Person: {{quotation.preparedBy}}</strong>
                </address>
            </section>
        </div>
    </header>
    <div>
        <table class="data-table">
            <thead>
                <tr>
                    <th style="text-align: left">Description</th>
                    <th>UNIT</th>
                    <th>QTY</th>
                    <th>PRICE</th>
                    <th>COST</th>
                    <th>VAT</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {{#each transaction.items}}
                <tr>
                    <td style="text-align: left;">{{name}}
                        {{#if description}}<br/>
                        <span>
                          <small>{{description}}</small>
                        </span>
                        {{/if}}
                    </td>
                    <td>{{unit}}</td>
                    <td style="text-align: center">{{qty}}</td>
                    <td style="text-align: center">{{salePrice}}</td>
                    <td style="text-align: center">{{costAmount}}</td>
                    <td>{{vat}}</td>
                    <td style="text-align: center">{{total}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="totals-table">
            <tr>
                <td style="text-align: left"><strong>SUBTOTAL</strong></td>
                <td>{{quotation.totalWithVat}}</td>
            </tr>
            <tr>
                <td style="text-align: left"><strong>DISCOUNT</strong></td>
                <td>{{quotation.discountAmount}}</td>
            </tr>
            <tr>
                <td style="text-align: left"><strong>TAX RATE</strong></td>
                <td>{{quotation.vatRate}}%</td>
            </tr>
            <tr>
                <td style="text-align: left"><strong>TOTAL TAX</strong></td>
                <td>{{quotation.vatAmount}}</td>
            </tr>
            <tr>
                <td style="text-align: left"><strong>TOTAL AMOUNT</strong></td>
                <td>{{quotation.totalAfterDiscount}}</td>
            </tr>
        </table>
    </div>

    <footer class="footer">
        <b>Terms & Instructions</b>
        <hr/>
        <p>
            👉Delivery: Ex Stock, subject to prior sales<br/>
            👉Validity:30 Days from the date of quotation<br/>
            👉Exclusion: Any other work or Parts which is not mentionned in our scope should be treated as variation<br/>
            👉Payment Terms: 45 Days credit from the date of invoice<br/>
            👉We hope that you find the above satisfactory and we look forward to your valued order<br/>
            👉Thanking you and the rest assured of our best attention and services at all times<br/><br/>
            Best Regards
        </p>
    </footer>
  </body>
</html>